<html>
<head>
  <title>Create New Crossword</title>
  <script>window.INITIAL_STATE = <%-JSON.stringify(data)%>;</script>
  <link rel="stylesheet" href="/assets/css/clueMaker.css">
  <script type="text/javascript" src="/assets/js/newBoard.js"></script>
  </head>
  <body>
    <% include ../static/assets/includes/header.ejs %>
    <div id="container">
      <h1>Try the new crossword input method! Pick a board size:<br />
    <% for (var i=1;i<=15;i++) {%>
      <a href="/n/<%-i%>"><%-i%></a>&nbsp;
        <%}%></h1><br />
      </div>
  </body>
  </html>
