<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/ejs.css">
  <script>window.INITIAL_STATE = <%-JSON.stringify(data)%>;</script>
</head>
<body>
  <% include ../static/assets/includes/header.ejs %>
  <div id="wholeSize">
    <div id="box">
      <div id="boxScreen">
      <h1>Join Us</h1>
      <h2><%-message%></h2>
      <form action="/register" method="post">
        <input type="text" placeholder="Username" name="username" autofocus required /><br />
        <input type="password" placeholder="Password" name="password" required /><br />
        <input type="submit"><button id="submit">JOIN US</button></input>
      </form>
      [test/test -> dummy user]<br />
      <a href="/login">log in</a>
    </div>
  </div>
</div>
</body>
</html>
