body {

}
/*
h1 {
  font-weight: 100;
  font-size: 1.4em;
  letter-spacing: 0.2em;
}*/

/*input {
  padding: 10px;
  outline: none;
  height: 40px;
  font-size: 1em;
  width: 300px;
}

input:focus {
  outline: none;
  border: 2px solid gold;
}*/

div#clueList {
  padding: 10px;
  height: 100px;
  margin: auto;
  width: 400px;
  overflow-y: scroll;
  border: 1px solid black;
  display: block;
}


div#clues {
  height: 200px;
  width: 400px;
  overflow-y: scroll;
  border: 1px solid black;
  display: none;
}

input[type=submit] {
  display:none;
}

div#solves {
  height: 200px;
  width: 400px;
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid black;
}


/*button {
  width: 300px;
  height: 50px;
  font-size: 1em;
  letter-spacing: 0.8em;
  padding: 10px;
  transition: 300ms all linear;
}*/

/*button:hover {
  letter-spacing: 0.5em;
}*/

div#submitClues {
  display: none;
}

/*a {
  color: tomato;
  font-weight: 200;
  text-decoration: none;
  outline: none;
  font-size: 1.1em;
}

a:hover {
  color: green;
  text-decoration: underline;
  font-style: italic;
}*/

/*div#container {
  margin: auto;
  width: 300px;
}*/
