body {
  padding: 10px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

h1 {
  font-weight: 100;
  font-size: 1.4em;
  letter-spacing: 0.8em;
}

input {
  outline: none;
}

input:focus {
  outline: none;
  border: 2px solid gold;
}

textarea {
  outline: none;
}

textarea:focus {
  outline: none;
  border: 2px solid gold;
}
