.board {
  border-radius: 5px;
  opacity: 0;
  max-width: 500px;
  height: 0;
  padding-bottom: calc(50% - 3px);
  margin: 0 auto;
  overflow: visible;
  border: 3px solid #aaa;
  position: relative;
}
.board:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #aaa;
}

.board .row {
  margin: 0;
  display: block;
}

.board.board-size-1 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/1);
  position: relative;
}
.board.board-size-1 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/1 - 0px);
  padding-bottom: calc(100%/1 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-2 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/2);
  position: relative;
}
.board.board-size-2 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/2 - 0px);
  padding-bottom: calc(100%/2 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-3 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/3);
  position: relative;
}
.board.board-size-3 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/3 - 0px);
  padding-bottom: calc(100%/3 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-4 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/4);
  position: relative;
}
.board.board-size-4 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/4 - 0px);
  padding-bottom: calc(100%/4 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-5 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/5);
  position: relative;
}
.board.board-size-5 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/5 - 0px);
  padding-bottom: calc(100%/5 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-6 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/6);
  position: relative;
}
.board.board-size-6 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/6 - 0px);
  padding-bottom: calc(100%/6 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-7 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/7);
  position: relative;
}
.board.board-size-7 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/7 - 0px);
  padding-bottom: calc(100%/7 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-8 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/8);
  position: relative;
}
.board.board-size-8 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/8 - 0px);
  padding-bottom: calc(100%/8 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-9 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/9);
  position: relative;
}
.board.board-size-9 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/9 - 0px);
  padding-bottom: calc(100%/9 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-10 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/10);
  position: relative;
}
.board.board-size-10 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/10 - 0px);
  padding-bottom: calc(100%/10 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-11 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/11);
  position: relative;
}
.board.board-size-11 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/11 - 0px);
  padding-bottom: calc(100%/11 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-12 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/12);
  position: relative;
}
.board.board-size-12 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/12 - 0px);
  padding-bottom: calc(100%/12 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-13 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/13);
  position: relative;
}
.board.board-size-13 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/13 - 0px);
  padding-bottom: calc(100%/13 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-14 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/14);
  position: relative;
}
.board.board-size-14 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/14 - 0px);
  padding-bottom: calc(100%/14 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}
.board.board-size-15 .row {
  width: 100%;
  height: 0;
  padding-bottom: calc(100%/15);
  position: relative;
}
.board.board-size-15 .row .cell {
  border: 1px solid #aaa;
  width: calc(100%/15 - 0px);
  padding-bottom: calc(100%/15 - 2px);
  float: left;
  position: relative;
  z-index: 20;
}

.cell {
  background: #fff;
}
.cell.cell--filled {
  background: #000;
  border-color: #000 !important;
  z-index: 100;
  position: absolute;
}
.cell input.cell--text {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
  padding: 0;
  position: absolute;
  border: none;
  text-align: center;
  font-size: 2.7vw;
  background: transparent;
  text-transform: uppercase;
  z-index: 10;
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.cell input.cell--text:focus {
  box-shadow: 0;
  outline: none;
  background: skyblue;
}

.row:first-child .cell--text {
  top: 0;
}

.cell:first-child .cell--text {
  left: 0;
}
.cell:last-child .cell--text {
  right: 10px;
}

.clue-number {
  position: absolute;
  font-family: monospace;
  font-size: 10px;
  left: 1px;
  z-index: 500;
  color: #aaa;
}

.navbar form {
  margin-bottom: 0;
}

.cluelist {
  list-style-type: none;
  padding-left: 0;
}

.cluelist--number {
  font-weight: bold;
}

.cluelist--number:after {
  content: '.';
  margin-right: .5em;
}

.fa-sm {
  font-size: 0.5875rem;
}
